[Unit]
Description=Copy the reverse proxy's configuration

[Service]
Type=oneshot
ExecStart=/root/sequentia/sequentia-testnet-ops/backup/box-config-backup.sh
