[Unit]
Description=Copy the reverse proxy's configuration four times a day

[Timer]
OnCalendar=*-*-* 00,06,12,18:30:00
Persistent=true

[Install]
WantedBy=timers.target
