[Unit]
Description=SeqLN Bitcoin testnet4 node btc-maker (the BTC leg of the pure-LN and submarine makers)
After=network.target seq-bitcoind.service

[Service]
Type=simple
ExecStart=/root/sequentia/seqln/lightningd/lightningd --lightning-dir=/root/sequentia/lsp/btc-maker --network=testnet4 --developer --database-upgrade=true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
